@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #ffffff;
  --primary-hover: rgba(110, 86, 207, 0.2);
  --secondary: #8b7fcf;
  --tertiary: #453a85;
  --tertiary-hover: rgba(69, 58, 133, 0.2);
  --headline: #000000;
  --paragraph: #4a4a4a;
  --text: #000000;
  --text-secondary: #6e56cf;
  --border: #e2e2e2;
  --hover: rgba(110, 86, 207, 0.1);
  --purpose-overlay: rgba(0, 0, 0, 0.8);
  --purpose-text: #ffffff;
  --purpose-text-secondary: #d1d1d1;
  --purpose-accent: var(--primary);
  --purpose-indicator: rgba(255, 255, 255, 0.3);
  --purpose-indicator-active: var(--primary);
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

.navbar {
  color: var(--navbar-text);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

@layer utilities {
  .text-navbar {
    color: var(--navbar-text) !important;
  }
  .hover-navbar:hover {
    color: var(--navbar-text-hover);
  }
  .card-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .card-hover {
    transition: all 0.2s ease-in-out;
  }

  .card-hover:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}
